.btn {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}

html {

    background: #f9f9f9;

}
*{
    font-size: 1.03em !important;
}


.center {
    position: relative;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.buttoni {
    padding: 2em;
    border-radius: 0;
}

.hide {
    display: none;
}
.text-input{

    margin: 10px;
    height: 50px;
}

.drei {
    float: left;
    width: 50%;
}